* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

body {
    height: 100vh;
}

.container {
    max-width: 355px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

.img-yoga {
    display: block;
    margin: 0 auto 100px auto;
}

input {
    width: 95%;
    height: 50px;
    background: #f7f7f7;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    border: none;
    margin: 0 auto 12px auto;
    display: block;
    outline: none;
    padding-left: 14px;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #969696;
}

.input-password {
    margin-top: 24px;
}

.forgot-password  {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 30px 20px 32px 0;
    display: block;
    text-align: right;
}

button {
    display: block;
    margin: 0 auto;
    background: #323232;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    width: 136px;
    height: 46px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}

.link-signup {
    display: block;
    margin-top: 24px;
    margin-bottom: 50px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #969696;
}

strong {
    color: #323232;
}

.or-paragraph {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.social-media {
    text-align: center;
    margin: 18px auto 0px auto;
}